<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/ngunnawal.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="/static/js/bootstrap.bundle.js"></script>

    {% block pageStyle %}
{% endblock %}

</head>
<body>
<div class="grid-container"> <!-- overall layout -->
    <div class="full-width text-highlighting">
    <h1 style="..."> {{ title }} </h1>
    </div>
    <div class="double-height">
{% block cellContent1 %} {% endblock %}
    </div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li><div class="focus">{{ message }}</div></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
 <div>
{% block cellContent2 %} {% endblock %}
    </div>

 <div class="text-highlighting">
{% block cellContent3 %} {% endblock %}
    </div>

</div>
<h1> <img src="/static/images/logo.png" alt="" width="80" height="100%">  Welcome To Ngunnawal Country</h1>

<div class="grid-container">
    <div class="full-width">
        <!-- this is the banner -->



        <!-- This is the navbar -->

         <!-- This is the navbar links -->
<div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav"> <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
    <li class="nav-item"> <a class="nav-link" href="history.html">History</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="gallery.html">Gallery</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="contact.html">Contact Us</a>
</li>
{% if user.is_anonymous %}
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/Logout">Logout</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/reset_pasword">Reset Password</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/profile">Profile</a>
</li>
{% endif %}
</UL>

</div>

        <div class="navbar">

            <!-- this is the banner -->
            <style>
                .main-header {
                    text-align: center;
                }
            </style>

            <header class="full-width" role="banner">

                <img src="/static/images/banner.png" alt="" width="100%" height="280
">

            </header>
            <br>
            <a href="index.html">Home</a>
             <a href="history.html">history</a>
            <a href="gallery.html">Gallery</a>
            <a href="contact.html">Contact Us</a>
            <a href="profile.html">profile</a>
            <a href="search.html">search</a>
            <a href="todo.html">todo</a>
            <a href="register">User Registration</a>
            <a href="login"> Login</a>

        </div>
    </div>
</div>

<p1>
    welcome to the ngunnawal country website

</p1>
</body>
</html>