{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    Sidebar
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
    <div class="container text-left">
        <div class="row">
            <div class="col-md-6">
                User Name
            </div>
            <div class="col-md-6">
                {{ user.name }}
        </div>
    </div>
</div>
    {% block cellContent2 %}
    <div class="container text-left">
        <div class="row">
<p>
    {{ form.email_address.label }}<br>
    {{ form.email_address (size=64) }}<br>
    {% for error in form.email_address.errors %}
        <span style="...">[{{ error }}]</span>
    {% endfor %}

</p>
            <div class="col-md-6">
                User Name
            </div>
            <div class="col-md-6">
                {{ user.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Email Address
            </div>
            <div class="col-md-6">
                {{ user.email_address }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Password Hash
            </div>
            <div class="col-md-6">
                <a href="/reset_password">Reset Password</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                User Level
            </div>
            <div class="col-md-6">
                {% if user.user_level==1 %}
                    Administrator
                {% else %}
                    User
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
    Footer
{% endblock %}